[Desktop Entry]
Type=Application
Name=Processing
GenericName=Processing
Comment=Open-source software prototyping platform
Exec=/home/etud1/Documents/processing-4.3/processing %u
Icon=processing-pde
Terminal=false
Categories=Development;IDE;Programming;
MimeType=text/x-processing;x-scheme-handler/pde;
Keywords=sketching;software;animation;programming;coding;
StartupWMClass=processing-app-ui-Splash
